<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751129428142-a8jgo9bu9ntjsaofqjq4f98i316d456i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751129428142-a8jgo9bu9ntjsaofqjq4f98i316d456i</string>
	<key>API_KEY</key>
	<string>AIzaSyB8oOvAwShPF3KDibNN5_Rpz2t85tScFHc</string>
	<key>GCM_SENDER_ID</key>
	<string>751129428142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csci526.alterego</string>
	<key>PROJECT_ID</key>
	<string>csci526-32f78</string>
	<key>STORAGE_BUCKET</key>
	<string>csci526-32f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751129428142:ios:ad754e983dfef5f3496d3f</string>
	<key>DATABASE_URL</key>
	<string>https://csci526-32f78-default-rtdb.firebaseio.com</string>
</dict>
</plist>